{% extends 'main/base.html' %}
{% load static %}
{% block page_content %}
  <div id="no-image" hidden>{% static "main/images/no-image.png"%}</div>
  <div class="container">
    <h1>Finding Animals (대전)</h1>
    <p>보호 중인 유기동물을 찾아보세요</p>
    <br />
    <form onsubmit="return false;">
      <div class="options">
        동물 종류&nbsp;<select name="animal" id="classification">
          <option value="1">강아지</option>
          <option value="2">고양이</option>
          <option value="3">기타</option>
        </select>
      </div>
      <br />
      <div class="options">
        성별&nbsp;<select name="gender" id="gender">
          <option value="0">전체</option>
          <option value="1">암</option>
          <option value="2">수</option>
        </select>
      </div>
      <br />
      <div class="options">
        지역&nbsp;<select name="gu" id="gu">
          <option value="0">전체</option>
          <option value="1">동구</option>
          <option value="2">중구</option>
          <option value="3">서구</option>
          <option value="4">유성구</option>
          <option value="5">대덕구</option>
        </select>
      </div>
      <br />
      <div class="options">
        종 구분&nbsp;<select id="species">
        </select>
      </div>
      <br />
      <div class="options">
        털 색&nbsp;
        {% for key, value in haircolors.items %}
        <input type="checkbox" class="colors" name="{{key}}" id="{{ forloop.counter0 }}">{{value}}
          {% endfor %}
      </div>
      <br />
      {% comment %} <div class="options">
        나이(세)&nbsp;<input type="number" name="age" id="age" placeholder="미구현" />
      </div>
      <br />
      <div class="options">
        몸무게(kg)&nbsp;<input type="number" name="weight" id="weight" placeholder="미구현" />
      </div> 
      <br /> {% endcomment %}
      <div class="options">
        상태&nbsp;<select name="status" id="status">
          <option value="1">공고중</option>
          <option value="2">입양 가능</option>
          <option value="3">기타</option>
          <option value="4">종료</option>
          <option value="0">전체</option>
        </select>
      </div>
      <br />
      <div class="submit" >
        <button type="submit" id="btn">검색</button>
      </div>
    </form>

    <p id="predict">검색 결과</p>
    <div id="search-container">
      <div id="page-count">
        <button id="btn-prev">◀</button>
        <span id="page">1</span> / <span id="total-page">1</span>
        <button id="btn-next">▶</button>
      </div>
      <div id="result-container"></div>
    </div>
  </div>
  <script type="text/javascript" src="{% static "main/js/animals_data.js" %}"></script>
  <script type="text/javascript" src="{% static "main/js/finding_animals.js" %}"></script>
{% endblock %}
