{% extends 'main/base.html' %}
{% load static %}
{% block page_content %}
  <div id="no-image" hidden>{% static "main/images/no-image.png"%}</div>
  <canvas id="upload-canvas" width="224px" height="224px" hidden></canvas>
  <nav class="navbar">
    <div class="nav-links">
        <div class="nav" id="title">
            Finding Animals
        </div>
        <br />
        <div class="nav">
            <a href="https://www.daejeon.go.kr/ani">
              <span class="icon material-symbols-outlined">
                house
              </span>
              대전광역시 동물보호센터
            </a>
        </div>
        <div class="nav">
            <a href="https://github.com/kye888888884/finding-animals-codemaster">
              <span class="icon material-symbols-outlined">
                code
              </span>
              Github Page
            </a>
        </div>
        <img id="logo" src="{% static "main/images/logo.png" %}" alt="">
    </div>
  </nav>

  <div class="container">
    <p id="desc">
      대전광역시 동물보호센터에서 보호 중인 유기동물을 찾아보세요
    </p>
    <div style="text-align: center">
      <div class="input-container">
        <div class="input-title">찾고 싶은 동물을 선택하세요</div>
        <div class="cut-container">
          <input
              class="cut-input"
              type="radio"
              id="cut-radio1"
              name="classification"
              value="1"
              checked
          />
          <label class="cut-label" for="cut-radio1">강아지</label>
          <input
              class="cut-input"
              type="radio"
              id="cut-radio2"
              name="classification"
              value="2"
          />
          <label class="cut-label" for="cut-radio2">고양이</label>
          <input
              class="cut-input"
              type="radio"
              id="cut-radio3"
              name="classification"
              value="3"
          />
          <label class="cut-label" for="cut-radio3">기타</label>


        </div>
      </div>
      
      <div class="input-container">
        <div class="input-title">사진을 올려주세요</div>
        <div class="upload-container">
          <input type="file" name="imagefile" id="file" accept="image/*" onchange="loadFile(this)" hidden>
          <label for="file" class="image1">
            <div class="line">
              <span class="upload-icon material-symbols-outlined">upload_file</span>
              <br>사진을 올릴게요
              <div class="upload-desc">사진과 닮은 동물을 찾습니다</div>
            </div>
          </label>
          <button class="image2"><span class="upload-icon material-symbols-outlined">scan_delete</span><br>사진이 없어요
            <div class="upload-desc">동물의 정보를 직접 입력합니다</div>
          </button>
        </div>
        <div id="image-container"></div>
      </div>

      <div class="input-container">
        <div class="input-title">종을 선택해주세요</div>
        <select id="species">
        </select>
        <div class="add-desc" hidden>종을 감지했어요. 이 종이 아닌가요?</div>
        <div id="add-container">
        </div>
      </div>

      <div class="input-container">
        <div class="input-title">성별을 선택하세요</div>
        <div class="cut-container">
          <input
              class="cut-input"
              type="radio"
              id="gender-radio1"
              name="gender"
              value="2"
          />
          <label class="cut-label" for="gender-radio1">암컷</label>
          <input
              class="cut-input"
              type="radio"
              id="gender-radio2"
              name="gender"
              value="1"
          />
          <label class="cut-label" for="gender-radio2">수컷</label>
          <input
              class="cut-input"
              type="radio"
              id="gender-radio3"
              name="gender"
              value="0"
              checked
          />
          <label class="cut-label" for="gender-radio3">모름/둘다</label>
        </div>
      </div>

      <div class="input-container" hidden>
        <div class="input-title">어떤 색깔의 털을 가지고 있나요?</div>
        <div class="input-desc">(중복 선택 가능)</div>
        <div class="color-container">
          <button class="color onoff-button offon-button"  style="background-color: white;">흰색</button>
          
          <button class="color onoff-button offon-button" style="background-color: darkslategray; color: white;">검은색</button>
            
          <button class="color onoff-button offon-button" style="background-color: sienna; color: white;">갈색</button>
            
          <button class="color onoff-button offon-button" style="background-color: gold;">황색</button>
            
          <button class="color onoff-button offon-button" style="background-color: gray; color: white;">회색</button>
            
          <button class="color onoff-button offon-button" style="background-color: lightblue;">기타</button></div>
        
      </div>
    
      <div class="submit" >
        <button type="submit" id="btn-submit">
          <div class="submit-container">
            <span class="submit-icon material-symbols-outlined">search</span>
            <span class="submit-title">
              <div class="line">검색하기</div>
            </span>
            <div class="submit-desc">입력 결과를 바탕으로 동물을 검색합니다</div>
          </div>
        </button>
      </div>

    </div>
  </div>

  <div id="search-container" hidden>
    <div id="filter-container">
      <div class="options">
      상태&nbsp;<select name="status" id="status">
        <option value="1">공고중</option>
        <option value="2">입양 가능</option>
        <option value="3">기타</option>
        <option value="4">종료</option>
        <option value="0">전체</option>
      </select>
      </div>

      <div class="options">
        지역&nbsp;<select name="gu" id="gu">
          <option value="0">전체</option>
          <option value="1">동구</option>
          <option value="2">중구</option>
          <option value="3">서구</option>
          <option value="4">유성구</option>
          <option value="5">대덕구</option>
        </select>
      </div>
    </div>

    <div id="result-container"></div>
    <div id="no-result" hidden>
      검색 결과가 없습니다
    </div>
    <div id="loading">
      불러오는 중입니다...
    </div>
  </div>

  <footer>
    <div class="footer-container">
      <div class="footer">
        <div class="footer-title">TEAM</div>
        <div class="footer-desc">JeonNam University,</div>
        <div class="footer-desc">Smart Computung Lab. 901</div>
      </div>
      <div class="footer">
        <div class="footer-title">CONTACT</div>
        <div class="footer-desc">
          <span class="icon material-symbols-outlined">mail</span>
          <a href="mailto:k37237280@gmail.com" class="footer-link">k37237280@gmail.com</a>
        </div>
        <div class="footer-desc">
          <span class="icon material-symbols-outlined">code</span>
          <a href="https://github.com/kye888888884/finding-animals-codemaster" class="footer-link">Github Page</a>
        </div>
      </div>
  </footer>
  <script type="text/javascript" src="{% static "main/js/animals_data.js" %}"></script>
  <script type="text/javascript" src="{% static "main/js/finding_animals.js" %}"></script>
{% endblock %}
