{% extends 'main/base.html' %}
{% block page_content %}
  <div class="container">
    <h1>Finding Animals (대전)</h1>
    <p>유기동물을 찾아줍니다</p>
    <br />
    <form onsubmit="return false;">
      <select name="animal" id="animal">
        <option value="1">강아지</option>
        <option value="2">고양이</option>
        <option value="3">기타</option>
      </select>
      <select name="gender" id="gender">
        <option value="1">암</option>
        <option value="2">수</option>
        <option value="0">모름</option>
      </select>
      <select name="gu" id="gu">
        <option value="0">전체</option>
        <option value="1">동구</option>
        <option value="2">중구</option>
        <option value="3">서구</option>
        <option value="4">유성구</option>
        <option value="5">대덕구</option>
      </select>
      <input type="number" name="age" id="age" placeholder="나이(세)" />
      <input type="number" name="weight" id="weight" placeholder="몸무게(kg)" />
      <button type="submit" id="btn">검색</button>
    </form>

    <p id="predict">검색 결과</p>
    <div id="result-container"></div>
  </div>
{% endblock %}
