:root {
    --main-color: rgb(132, 212, 243);
    --main-light-color: rgb(205, 241, 255);
    --emph-color: rgb(0, 100, 255);
    --inputbox-color: #ffffffff;
    --dark-color: #0d528855;
    --sub-color: white;
    --font-color: black;
    --font-size: 20px;
    --font-weight: bold;
    --border-radius: 80px;
    --box-shadow: 0px 5px 15px #0002;
    --transition: 0.2s;
    --cursor: crosshair;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Gothic A1", sans-serif;
    background: linear-gradient(135deg, var(--main-color) 0%, white 100%);
}

.container {
    text-align: center;
    margin: 0 auto;
    padding: 5%;
    font-size: var(--font-size);
}

h1 {
    font-size: 48px;
    font-weight: 100;
    color: var(--font-color);
}

p {
    font-size: 20px;
    font-weight: 400;
}

/* button {
    padding: 2%;
    border-radius: 50pt;
    background-color: var(--sub-color);
    font-size: 20px;
    font-weight: bold;
    color: var(--font-color);
    transition: 0.2s background-color;
} */

/* button:hover {
    background-color: var(--main-color);
} */

form {
    margin: 0 auto;
    width: 80%;
    text-align: left;
    background-color: var(--sub-color);
    padding: 5%;
    border-radius: var(--border-radius);
}
form > .options {
    display: inline-block;
    margin: 1%;
}
form > .submit {
    text-align: center;
}

input:focus {
    outline: none;
}

.result-img > img {
    height: 256px;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}

/* Logo */
#logo {
    position: absolute;
    top: 15px;
    right: 30px;
    height: 64px;
}

/* Navbar */
.navbar {
    height: 80px;
    padding: 10px 0;
    width: 100%;
    background: var(--main-1, #0d5288);
    z-index: 100;
    color: #fff;
    box-shadow: #0004 0 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a {
    color: #fff;
    text-decoration: none;
}
.navbar a:hover {
    text-decoration: underline;
}
#navbar-nickname {
    display: inline-block;
    font-weight: bold;
    width: auto;
}
#navbar-welcome {
    margin: 0 15px;
}
.nav {
    display: inline-block;
    position: relative;
    padding: 0 12px;
    width: auto;
    text-align: left;
}
.nav a {
    font-size: 12pt;
    vertical-align: middle;
}
.nav a::before {
    content: "";
    display: inline;
    position: absolute;
    width: 2px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    left: -2px;
    top: 0px;
}
#title {
    font-size: 32pt;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* color: var(--font-color); */
}
#desc {
    margin: 0 auto;
    font-size: 20pt;
    font-weight: 200;
    color: white;
    width: 80%;
    max-width: 800px;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: var(--border-radius);
    background-color: var(--dark-color);
}

/* Results */
#search-container {
    width: 100%;
    text-align: center;
    background-color: var(--sub-color);
    padding: 50px 0;
}

#result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.result {
    flex: 1 1 25%;
    margin: 20px;
}

.loading {
    margin: 30px;
}

#filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 30px auto;
    padding: 0 20px;
}

#filter-container .options {
    font-size: 20pt;
    margin: 0 30px;
}

#no-result {
    font-size: 20pt;
    margin: 30px;
}

#loading {
    font-size: 20pt;
    margin: 30px;
}

.icon {
    font-size: 20px !important;
    line-height: 0 !important;
    position: relative;
    top: 4px;
}

/* Footer */

#wrap {
    min-height: calc(100% - 200px);
}

footer {
    height: 180px;
    padding: 40px 0;
    bottom: 0;
    background: #0d5288;
    color: #fff;
    box-shadow: #0004 0 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: normal;
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-title {
    font-size: 14pt;
    font-weight: 300;
    margin: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}
